@import '../commons/_colors'
@import '../commons/_colors'

.container-tasks-list 
  width: 100%
  margin: 5% 0 5% 0
  display: grid
  grid-template-columns: minmax(20%, 20%) minmax(20%, 20%) minmax(20%, 20%) minmax(20%, 20%)  //4 columns -> 20% minimum, 20% maximum, could be auto
  grid-auto-rows: minmax(450px, auto) 
  grid-column-gap: 3%
  grid-row-gap: 100px 
  justify-content: center

.footer 
  display: table
  text-align: center
  margin-left: auto
  margin-right: auto
  font-family: 'Helvetica', sans-serifs
  font-size: 12px
  color: $gray

.author-link 
  font-weight: 600
  color: $gold
  text-decoration: none

.author-link:hover 
  color: $summer_water

