
.container-tasks-list 
  width: 100%
  margin: 5% 0 5% 0
  display: grid
  grid-template-columns: minmax(23%, auto) minmax(23%, auto) minmax(23%, auto)  //2 columns -> 30% minimum, auto maximum
  grid-auto-rows: minmax(450px, auto) 
  grid-column-gap: 5%
  grid-row-gap: 120px 
  justify-content: center
  