
//ToDo: extract those in a file and @import 
$dark: #000
$white: #fff
$mazarine_blue: #273c75
$rise_n_shine: #fbc531
$gold: #e1b12c
$summer_water: #079992
$light_red: #e74c3c
$vintage_shadow: rgba(178, 190, 195, 0.8)

/* \:export 
    backgroundColorVar: $dark */
//this is how you can export a var and use it in js

.task-container
    position: relative
    padding: 40px 20px 40px 20px
    background-size: 100% 200% !important
    transition: all 0.2s ease
    animation: 0.4s ease
    box-shadow: 15px 10px 5px $vintage_shadow

.task-container:hover
    background-position: 100% 100% !important
    animation: 0.3s ease
     
.task-name 
    color: $mazarine_blue 
    font-size: 48px
    text-transform: capitalize

.task-duration
    font-family: 'OpenSans-SemiBold', sans-serif
    text-transform: capitalize
    font-size: 18px
    color: $mazarine_blue    
    margin-top: 40px

.time-progress-container 
    position: absolute
    top: 60%
    width: 90%
    overflow: auto

.time-progress-ico
    float: left
    width: 8%
    color: $light_red

.time-progress-bar
    width: 90%
    margin: 2% 0 0 9%


.button-start-task
    position: absolute
    bottom: 5% 
    font-family: 'OpenSans-Regular', sans-serif
    font-size: 14px
    color: $white
    border: 0
    text-transform: uppercase
    cursor: pointer
    padding: 10px 
    border: 1px solid $white
 
