.task-container
    padding: 20px
     
.task-name 
    color: #fff
    font-size: 32px

.task-duration
    font-size: 18px
    border: 2px solid #ffffff
    border-radius: 5px
    padding: 10px

.time-progress-bar 
    padding-top: 20px