@import 'fonts'
  
$light: #f1f3f4;
$clouds: #ecf0f1;
$breeze: #dff9fb;

body 
  margin: 0
  padding: 0
  font-family: 'Merriweather-Bold', sans-serif
  background-color: $clouds

*:focus 
    outline: none

