$dark: #000;
$white: #fff;
$light: #f1f3f4;
$clouds: #ecf0f1;
$breeze: #dff9fb;
$gray: #636e72;
$mazarine_blue: #273c75;
$rise_n_shine: #fbc531;
$gold: #e1b12c;
$summer_water: #079992;
$light_red: #e74c3c;

$vintage_shadow: rgba(178, 190, 195, 0.8);